%input#searchbar.form-control{:placeholder => "Enter a word to define...", :type => "text", :autofocus => "true"}

#proper
  .well
    %p#text
      It appears you've spelled hello wrong, the proper way to spell it is "ok"
