// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.col-centered{
    float: none;
    margin: 0 auto;
}

.container{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -70%);-moz-transform:translate(-50%, -70%);-ms-transform:translate(-50%, -70%);-o-transform:translate(-50%, -70%);transform:translate(-50%, -70%);text-align:center;width:100%}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
@media (min-width: 768px){
  .container{width:750px}
  }
  @media (min-width: 992px){
    .container{width:970px}
    }
    @media (min-width: 1200px){
      .container{width:1170px}
      }
      .output{border:0;outline:0;font-size:82px;text-align:center;width:100%;padding:0 40px;margin:0 auto 30px}
